{% extends "layout.html" %}

{% block title %}

Password Checker

{% endblock %}

{% block main %}

<!--Heading-->
<h1>Specifications: -</h1>

<br>

<!--Making a list of the things-->

<ul>
    <li>Minimum <b>6 characters</b>.</li>
    <li>The <b>alphabets</b> must be of between <b>[a-z]</b>.</li>
    <li>At least one <b>alphabet</b> should be of Uppercase.</li>
    <li>At least one <b>digit</b> must be entered.</li>
    <li>At least one <b>special character</b> must be added.</li>
    <li>Must not be of commonly used password ranges.</li>
</ul>

<hr>

<br>

<h2>Input Password: -</h2>

<form action="/passwordChecker" method="post">

    <!--Making a tab for the user to put password in-->
    <label for="password_tab">Password:</label>
    <input type="text" id="password_tab" name="password_user" placeholder="Password" autocomplete="off" autofocus>

    <br><br>

    <!--Submit button for the user to enter the password-->
    <button type="submit" id="button_password" class="btn btn-success">Submit</button>

</form>

<hr>

<br>

<h2>Password Category: -</h2>


<div>
    {% if length_check and upper_check and lower_check and decimal_check and special_check %}
        <p><b>Strong Password!</b></p>
    {% elif length_check and upper_check and decimal_check and lower_check %}
        <p><b>Moderate Password!</b></p>
    {% elif length_check %}
        <p><b>Weak Password!</b></p>
    {% endif %}
</div>

<hr>

<br>

<h2>Results: -</h2>

<!--Now using some jinja logic to print the results-->

<div>
    {% if length_check %}
        <p>Password meets <b>length requirement</b> (at least 6 characters).</p>
    {% else %}
        <p>Password <b>does not meet length requirement</b> (at least 6 characters).</p>
    {% endif %}

    {% if upper_check %}
        <p>Password <b>contains</b> at least one <b>uppercase letter</b>.</p>
    {% else %}
        <p>Password <b>does not</b> contain any <b>uppercase letters</b>.</p>
    {% endif %}

    {% if lower_check %}
        <p>Password <b>contains</b> at least one <b>lowercase letter</b>.</p>
    {% else %}
        <p>Password <b>does not</b> contain any <b>lowercase letters</b>.</p>
    {% endif %}

    {% if decimal_check %}
        <p>Password <b>contains</b> at least <b>one digit</b>.</p>
    {% else %}
        <p>Password <b>does not</b> contain any <b>digits</b>.</p>
    {% endif %}

    {% if special_check %}
        <p>Password <b>contains</b> at least one <b>special character</b>.</p>
    {% else %}
        <p>Password <b>does not</b> contain any <b>special characters</b>.</p>
    {% endif %}
</div>

{% endblock %}